<div class="top-bar">
  <div class="container">
    <div class="clearfix wow fadeIn dlexsm-1">
      <div class="float-left">
        <p><i class="fas fa-map-marker-alt"></i>120 Traders Blvd, Unit 209, Mississauga L4Z 2H7. <span>|</span> <i class="fas fa-phone"></i>905-965-6727</p>
      </div>
      <div class="float-right">
        <ul>
          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
          <li><a href="#"><i class="fas fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="mid-bar container">
  <div class="clearfix">
    <div class="logo float-left wow myFadeInLeft dlexsm-1">
      <img src="assets/logo.svg" alt="">
    </div>
    <ul class="float-right">
      <li class="clearfix wow myFadeInRightFast dlexsm-3">
        <i class="fas fa-map-marker-alt"></i>
        <strong>120 Traders Blvd, Unit 209,</strong>
        <p>Mississauga L4Z 2H7.</p>
      </li>
      <li class="clearfix wow myFadeInRightFast dlexsm-2">
        <i class="fas fa-phone"></i>
        <strong>905-965-6727</strong>
        <p>Call Now</p>
      </li>
      <li class="clearfix wow myFadeInRightFast dlexsm-1">
        <i class="far fa-clock"></i>
        <strong>Mon - Sat 9.00 - 18.00</strong>
        <p>Sunday Closed</p>
      </li>
    </ul>
  </div>
</div>

<nav class="navbar navbar-expand-lg " id="navbar1">
  <a class="navbar-brand logo" href="#"><img src="assets/logo-light.svg" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation" (click)="menuToggle()">
    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container clearfix">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link wow fadeInUp dlexsm-1" href="#" routerLink="/home" (click)="menuToggle()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wow fadeInUp dlexsm-2" href="#" routerLink="/about" (click)="menuToggle()">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wow fadeInUp dlexsm-3" href="#" routerLink="/services" (click)="menuToggle()">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wow fadeInUp dlexsm-4" href="#" routerLink="/forms" (click)="menuToggle()">Forms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wow fadeInUp dlexsm-5" href="#" routerLink="/blog" (click)="menuToggle()">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link wow fadeInUp dlexsm-6" href="#" routerLink="/contact" (click)="menuToggle()">Contact</a>
        </li>
        <li class="nav-item search-btn  wow fadeInUp dlexsm-7">
          <span>
            <i class="fas fa-search"></i>
          </span>
        </li>
        <li class="nav-item wow fadeInUp dlexsm-8">
          <button class="btn btn-primary">Get a quote</button>
        </li>
      </ul>
    </div>
  </div>
</nav>