<div class="footer-top">
    <div class="container">
        <div class="row">
            <!-- Footer widget 1 -->
            <div class="widget col-lg-3 col-md-6">
                <a class="footer-widget-logo" href="#">
                    <!-- <img class="img-responsive" src="assets/images/site-logo.png" alt="logo"> -->
                    <div class="logo">
                        <img src="../../assets/logo-light.svg" alt="">
                    </div>
                </a>

                <div class="footer-widget-about-description">
                    <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                    <p>It is a long established fact that a reader will be distracted.</p>
                </div>

                <p>Follow us : </p>

                <ul class="social-icons">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fas fa-envelope"></i></a></li>
                </ul>
            </div><!-- Footer widget 1 End -->

            <!-- Footer widget 2 -->
            <div class="widget col-lg-3 col-md-6 widget_nav_menu">
                <h2 class="widget-title">Usefull link</h2>
                <div class="menu-usefull-links-container navigation">
                    <ul id="menu-usefull-links" class="menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div><!-- Footer widget 2 End -->

            <!-- Footer widget 3 -->
            <div class="widget col-lg-3 col-md-6 widget_xzopro-latest-post">
                <h2 class="widget-title"> Recent Posts</h2>
                <ul class="recent-news-widget">
                    <li>
                        <div class="recent-post-widget-thumb recent-post-widget-thumb-1"></div>
                        <h6><a class="recent-news-title" href="single-blog.html">Tips from a not-for-profit standard early
                                adopter
                            </a></h6>
                        <div class="recent-widget-date">July 8, 2018</div>
                    </li>

                    <li>
                        <div class="recent-post-widget-thumb recent-post-widget-thumb-2"></div>
                        <h6><a class="recent-news-title" href="single-blog.html">Financial reporting council could see</a></h6>
                        <div class="recent-widget-date">July 8, 2018</div>
                    </li>

                    <li>
                        <div class="recent-post-widget-thumb recent-post-widget-thumb-3"></div>
                        <h6><a class="recent-news-title" href="single-blog.html">6 things to know before open a bank account</a></h6>
                        <div class="recent-widget-date">July 8, 2018</div>
                    </li>
                </ul>
            </div><!-- Footer widget 3 End -->

            <!-- Footer widget 4 -->
            <div class="widget col-lg-3 col-md-6">
                <h2 class="widget-title">Contact Information</h2>
                <ul class="address-widget-list">
                    <li class="footer-address-desc">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>1102 Saint Marys,<br>Jackson Blvd, Chicago<br>United State</p>
                    </li>

                    <li class="footer-mail-address">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p><a href="mailto:examplemail.com">examplemail.com</a></p>
                    </li>

                    <li class="footer-mobile-number">
                        <p><i class="fa fa-phone" aria-hidden="true"></i>(123) 456 789 1002</p>
                    </li>
                </ul>

                <div class="footer-subscribe-form">

                    <form action="index.html">
                        <div class="xzopro-subscribe-form">
                            <input type="email" name="EMAIL" placeholder="Your email address" required="">
                            <input type="submit" class="btn btn-primary" value="Subscribe">
                        </div>
                    </form>
                </div>
            </div><!-- Footer widget 4 End -->
        </div>
    </div>
</div>
<div class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 order-lg-first order-last">
                <div class="site-info">
                    © Mavi Financial Group 2018 | Designed & Developed by : <a target="_blank" href="http://www.fiveksoftware.com">FiveKsoftware</a>
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="footer-bottom-menu-container navigation">
                    <ul id="footer-bottom-menu" class="menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>