<section class="carousel-wrap">
  <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic1.jpg" class="img-responsive" alt="Random first slide">
      <div class="carousel-caption">
        <h3>We create value and</h3>
        <h2>Build confidence.</h2>
        <p>The MAVI insurance group is a long established insurance company that has been at your service since more than 25 years.</p>
        <div class="call-btn">
          <button class="btn btn-primary" routerLink="/about">About Us</button>
          <button class="btn btn-outline-light ml-3" routerLink="/contact">Contact us</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic2.jpg" class="img-responsive" alt="Random second slide">
      <div class="carousel-caption">
        <h3>We know, what we </h3>
        <h2>Mean to you.</h2>
        <p>We promise to stand by you in the crucial hour.</p>
        <div class="call-btn">
          <button class="btn btn-primary" routerLink="/about">About Us</button>
          <button class="btn btn-outline-light ml-3" routerLink="/contact">Contact us</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic3.jpg" class="img-responsive" alt="Random third slide">
      <div class="carousel-caption">
        <h3>We value</h3>
        <h2>Your trust.</h2>
        <p>For us, you stand in the first place as always.</p>
        <div class="call-btn">
          <button class="btn btn-primary" routerLink="/about">About Us</button>
          <button class="btn btn-outline-light ml-3" routerLink="/contact">Contact us</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="banner-links">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="clearfix wow fadeIn" routerLink="/about">
            <img src="assets/homepage/icons/about-us.svg" alt="">
            <h5>About us</h5>
            <p>A great team of professionals with more than 25 years of experience.</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="clearfix wow fadeIn" routerLink="/services">
            <img src="assets/homepage/icons/our-services.svg" alt="">
            <h5>Our services</h5>
            <p>Our goal then and now is to provide best investment plan.</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="clearfix wow fadeIn" routerLink="/contact">
            <img src="assets/homepage/icons/contact.svg" alt="">
            <h5>Contact us</h5>
            <p>We try to reply to our clients as soon as possible & keep them in the loop & informed.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col heading-desc wow fadeIn">
        <h1>About Us</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>We feel very proud and elated to be one of the well known insurance companies of Canada with a huge customer base
          comprising the individuals, corporates and SMEs.</p>
      </div>
    </div>

    <div class="row about-box">
      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-1">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <img src="assets/homepage/icons/vision.svg" alt="">
            </div>
            <h5>OUR VISION</h5>
            <p>We strive to score perfectly for world standard services and aspire to be your first choice when it comes
              to insurance.</p>
            <a href="#" class="about-box-link" routerLink="/about">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-1"></div>
        </div><!-- Single About Box End-->
      </div>

      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-2">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <img src="assets/homepage/icons/intention.svg" alt="">
            </div>
            <h5>OUR INTENTION</h5>
            <p>We intend to protect you and the ones whom you value by providing insurance cover in the need of the hour
              and offering incomparable customer services.</p>
            <a href="#" class="about-box-link" routerLink="/about">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-2"></div>
        </div><!-- Single About Box End-->
      </div>

      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-3">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <img src="assets/homepage/icons/target.svg" alt="">
            </div>
            <h5>OUR TARGET</h5>
            <p>We aim to make affordable insurance accessible to all. keeping you, our customers, as focal point in all our
              operations and protecting the policy holders’ interests.</p>
            <a href="#" class="about-box-link" routerLink="/about">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-3"></div>
        </div><!-- Single About End -->
      </div>
    </div>
  </div>
</section>

<section class="dark services">
    <div class="container">
      <div class="row">
        <div class="col heading-desc wow fadeIn light">
          <h1>Our Services</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
            form or randomised even slightly believable.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-1">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/travel.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>TRAVEL insurance</h4></a>
                <p>You want peace of mind when you travel. You have got your passport, your shiny new camera, may be that awesome
                  jacket or those fancy shoes. But aren't you forgetting something? YES YOU ARE: Travel insurance,it is an
                  important item and should be on top of your list.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-2">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/transport.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>Transportation insurance</h4></a>
                <p>Whether you are a single owner-operator or a large fleet, we have specialty insurance programs designed
                  with you in mind. We write truck, warehousing, and freight broker insurance in almost every state.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-3">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/home.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>HOME AND AUTO</h4></a>
                <p>Home insurance is an insurance that you purchase to protect your property. It can be bought for a private
                  residence, one where you live or one that you own. A home insurance policy is an insurance policy that protects
                  your house from any unseen events.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-4">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/group.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>GROUP BENEFITS</h4></a>
                <p>Choosing the right benefits for you and your employees is important. But it doesn’t have to be complicated.
                  Our Standard keeps it simple, with group benefits for every kind of business – to protect against all kinds
                  of risk. Choose the combination of benefits your employees want. At a price you can all afford.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-5">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/disability.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>DISABILITY</h4></a>
                <p>What happens when an employee is unable to work because of illness or injury? Your employees rely on their
                  paychecks for the necessities of life. Mavi group's Standard offers employers – and their employees – a variety
                  of options so they can get the coverage they need affordably.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-6">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/commercial.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>COMMERCIAL</h4></a>
                <p>Whether you own and drive a commercial vehicle or you own the vehicle and someone else drives it, you are
                  responsible for it completely. To stay safe in this situation, it’s always advantageous to have Commercial
                  Vehicle Insurance. Coverage for a variety of situations.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-7">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/tax.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>TFSA(tax-free savings account)</h4></a>
                <p>A tax-free savings account lets you save up to $5,500/year1 for any purpose without paying taxes on the
                  investment growth. Whether you’ll need those savings in a few years or well into the future, a TFSA is a
                  smart way to save your money and see your savings grow tax-free.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-8">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/life.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>LIFE Insurance</h4></a>
                <p>We live in a world which is uncertain at every step. It becomes all the more important to ensure that your
                  family stays protected unconditionally. we understand that nothing can compensate for the loss of a life,
                  we intend to provide you the peace of mind that your family will be secured after you.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="single-service-box service-box-style-1 wow myFadeInLeft dl-9">
            <div class="service-content-wrapper">
              <div class="service-box-icon">
                <img src="assets/services/super-visa.svg" alt="">
              </div>
              <div class="service-box-content">
                <a href="#"><h4>SUPER VISA</h4></a>
                <p>The new Super Visa makes it easier than ever before for parents and grandparents to visit family members
                  in Canada, allowing them to remain in the country for up to 24 months at a time, without having to renew
                  their status. This visa is valid for 10 years and can permit a single entry or multi-entries into Canada.</p>
                <a class="read-more-btn text-btn" href="#" routerLink="/services">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

<section class="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Why Choose Us</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>We deliver individualistic experiences and provide the insurance plans that are easy, accessible , affordable
            and suitable at any stage in life.<br>
            <i style="width: 100%; background: none;">“we promise to stand by you in the crucial hour”</i>
          </p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-1">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <img src="assets/whyus/empathy.svg" alt="">
                </div>
                <div class="choose_us-box-content">
                  <h4>Empathy</h4>
                  <p>As always what matters is you, our customer.</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-2">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <img src="assets/whyus/transparency.svg" alt="">
                </div>
                <div class="choose_us-box-content">
                  <h4>Transparency</h4>
                  <p>Because we know you trust us.</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-3">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <img src="assets/whyus/account.svg" alt="">
                </div>
                <div class="choose_us-box-content">
                  <h4>Accountability</h4>
                  <p>Because you are special and we value your trust.</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <!-- <div class="col-lg-12 col-md-6">
            <div class="single-choose-us-box wow myFadeInRight dlsm-4">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <i class="flaticon-cogwheel-1"></i>
                </div>
                <div class="choose_us-box-content">
                  <h4>24X7 Support Services</h4>
                  <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                    in some form, by injected humour or randomised words which don't look even slightly .</p>
                </div>
              </div>
          </div> -->
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>


<section class="dark customers">
  <div class="container">
    <div class="row">
      <div class="col heading-desc wow fadeIn light">
        <h1>Our Happy Customers</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>We help people achieve their dreams and aspirations, by putting customer's needs first and providing the right
          advice and solutions.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-1">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>"I am really satisfied with my Mavi Group. Not able to tell you how happy I am with Mavi Group."</p>
          <div class="author-details">
            <div class="author-image author-image-1"></div>
            <h4>Stacie Q</h4>
            <!-- <p class="author-position">Ceo Of Idea Company</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-2">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>"Mavi Group has completely surpassed our expectations. Mavi Group saved my business."</p>
          <div class="author-details">
            <div class="author-image author-image-2"></div>
            <h4>Clara Anderson</h4>
            <!-- <p class="author-position">Ceo Of Idea Company</p> -->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-3">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>"Mavi Group is awesome! I will recommend you to my colleagues. They are worth much more than I paid."</p>
          <div class="author-details">
            <div class="author-image author-image-3"></div>
            <h4>Anne-Mar</h4>
            <!-- <p class="author-position">Ceo Of Idea Company</p> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Recent News</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>Stay ahead in Financial & Insurance sector<br>With related news that matters.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-1">
          <div class="post-thumb-wrapper post-thumb-1">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>Canadian insurance companies at the forefront of AI adoption</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>30 Aug 2018
            </div>
            Brokers play an important role in the increasingly widespread use of technology ...
            <div>
              <a href="#" class="read-more-btn" routerLink="/single-blog">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-2">
          <div class="post-thumb-wrapper post-thumb-2">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>QBE North America introduces head of distribution</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>31 Aug 2018
            </div>
            Industry veteran will additionally take role as company’s head of major trading partner ...
            <div>
              <a href="#" class="read-more-btn" routerLink="/single-blog">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-3">
          <div class="post-thumb-wrapper post-thumb-3">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>The insurance needs of the Toronto International Film Festival</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>29 Aug 2018
            </div>
            It requires sizeable insurance and risk management efforts ...
            <div>
              <a href="#" class="read-more-btn" routerLink="/single-blog">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-primary">
          Read more posts
        </button>
      </div>
    </div>
  </div>
</section>

<section class="cta-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-9">
        <h4>The most talanted Finance team</h4>
        <p class="text-white">Make your financial investments with us and stay tentionfree.</p>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-3">
        <div class="cta-btn-wrap">
          <a href="#" class="btn btn-outline-light wow pulse" routerLink="/contact">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Contact Us</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>Drop us a line, or give us a heads up if you're interested in visiting us.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <div style="width: 100%; margin-bottom: -6px;"><iframe width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.114729652493!2d-79.67343108470382!3d43.62497097912222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b40a1b8a534ad%3A0xf5d067cf8b6538ad!2s120+Traders+Blvd+E+%23209%2C+Mississauga%2C+ON+L4Z+3K7%2C+Canada!5e0!3m2!1sen!2sin!4v1535523590471"
      frameborder="0" style="border:0" allowfullscreen></iframe></div>
</section>
