<section class="carousel-wrap">
  <ngb-carousel [showNavigationIndicators]="showNavigationIndicators">
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic1.jpg" class="img-responsive" alt="Random first slide">
      <div class="carousel-caption">
        <h3>We create value and</h3>
        <h2>Build your confidence</h2>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum, a pharetra augue mollis interdum.</p>
        <div class="call-btn">
          <button class="btn btn-primary">About Us</button>
          <button class="btn btn-outline-light ml-3">Contact us</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic2.jpg" class="img-responsive" alt="Random second slide">
      <div class="carousel-caption">
        <h3>We create value and</h3>
        <h2>Build your confidence</h2>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum, a pharetra augue mollis interdum.</p>
        <div class="call-btn">
          <button class="btn btn-primary">About Us</button>
          <button class="btn btn-outline-light ml-3">Contact us</button>
        </div>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/homepage/mainbanner/pic3.jpg" class="img-responsive" alt="Random third slide">
      <div class="carousel-caption">
        <h3>We create value and</h3>
        <h2>Build your confidence</h2>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum, a pharetra augue mollis interdum.</p>
        <div class="call-btn">
          <button class="btn btn-primary">About Us</button>
          <button class="btn btn-outline-light ml-3">Contact us</button>
        </div>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="banner-links">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <a href="#" class="clearfix">
            <i class="flaticon-arrows"></i>
            <h5>Quality Standered</h5>
            <p>The are many variations of passages.</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="clearfix">
            <i class="flaticon-arrows"></i>
            <h5>Quality Standered</h5>
            <p>The are many variations of passages.</p>
          </a>
        </div>
        <div class="col-md-4">
          <a href="#" class="clearfix">
            <i class="flaticon-arrows"></i>
            <h5>Quality Standered</h5>
            <p>The are many variations of passages.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col heading-desc wow fadeIn">
        <h1>About Us</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form or randomised even slightly believable.</p>
      </div>
    </div>

    <div class="row about-box">
      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-1">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <i class="flaticon-system"></i>
            </div>
            <h5>Management</h5>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in
              some dummy.</p>
            <a href="about-us.html" class="about-box-link">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-1"></div>
        </div><!-- Single About Box End-->
      </div>

      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-2">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <i class="flaticon-analytics-1"></i>
            </div>
            <h5>Development</h5>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in
              some dummy.</p>
            <a href="about-us.html" class="about-box-link">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-2"></div>
        </div><!-- Single About Box End-->
      </div>

      <div class="col-lg-4 col-md-4">
        <!-- Single About Box -->
        <div class="single-about-box-wrap wow myFadeInLeft dl-3">
          <div class="about-box-content">
            <div class="about-box-top-icon">
              <i class="flaticon-cogwheel-1"></i>
            </div>
            <h5>Fast Support</h5>
            <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration in
              some dummy.</p>
            <a href="about-us.html" class="about-box-link">
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
          <div class="about-box-bg about-box-bg-3"></div>
        </div><!-- Single About End -->
      </div>
    </div>
  </div>
</section>

<section class="dark services">
  <div class="container">
    <div class="row">
      <div class="col heading-desc wow fadeIn light">
        <h1>Our Services</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form or randomised even slightly believable.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-1 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Market Analysis</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-2 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Financial advice</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-3 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Business Promotions</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-4 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Business Investment</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-5 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Talanted Consultants</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box wow myFadeInLeft dl-6 service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Market Analysis</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="why-choose-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Why Choose Us</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-1">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <i class="flaticon-rocket"></i>
                </div>
                <div class="choose_us-box-content">
                  <h4>Good Performance</h4>
                  <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                    in some form, by injected humour or randomised words which don't look even slightly .</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-2">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <i class="flaticon-analytics-1"></i>
                </div>
                <div class="choose_us-box-content">
                  <h4>Responsibility Of Business</h4>
                  <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                    in some form, by injected humour or randomised words which don't look even slightly .</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-3">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <i class="flaticon-process"></i>
                </div>
                <div class="choose_us-box-content">
                  <h4>First Working Process</h4>
                  <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                    in some form, by injected humour or randomised words which don't look even slightly .</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>

          <div class="col-lg-12 col-md-6">
            <!-- Single Choose Us Box -->
            <div class="single-choose-us-box wow myFadeInRight dlsm-4">
              <div class="choose_us-content-wrapper">
                <div class="choose-us-box-icon">
                  <i class="flaticon-cogwheel-1"></i>
                </div>
                <div class="choose_us-box-content">
                  <h4>24X7 Support Services</h4>
                  <p>There are many variations of passages of Lorem Ipsum available but the majority have suffered alteration
                    in some form, by injected humour or randomised words which don't look even slightly .</p>
                </div>
              </div>
            </div><!-- Single Choose Us Box End -->
          </div>
        </div>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</section>


<section class="dark customers">
  <div class="container">
    <div class="row">
      <div class="col heading-desc wow fadeIn light">
        <h1>Our Happy Customers</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form or randomised even slightly believable.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-1">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-1"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-2">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-2"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card wow myFadeInUp dl-3">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-3"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Recent Blog</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-1">
          <div class="post-thumb-wrapper">
            <div class="post-thumb post-thumb-1"></div>
          </div>
          <div class="post-content">
            <a href="single-blog.html">
              <h4>Tips from a not-for-profit standard early adopter</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>08, July , 2018
            </div>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-2">
          <div class="post-thumb-wrapper">
            <div class="post-thumb post-thumb-1"></div>
          </div>
          <div class="post-content">
            <a href="single-blog.html">
              <h4>Tips from a not-for-profit standard early adopter</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>08, July , 2018
            </div>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-3">
          <div class="post-thumb-wrapper">
            <div class="post-thumb post-thumb-1"></div>
          </div>
          <div class="post-content">
            <a href="single-blog.html">
              <h4>Tips from a not-for-profit standard early adopter</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>08, July , 2018
            </div>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-primary">
          Read more posts
        </button>
      </div>
    </div>
  </div>
</section>

<section class="cta-area">
  <div class="container">
    <div class="row">
      <div class="col-xl-8 col-lg-8 col-md-9">
        <h4>The most talanted Finance team</h4>
        <p>Make your dream project with us and stay tensionfree.</p>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-3">
        <div class="cta-btn-wrap">
          <a href="contact.html" class="btn btn-outline-light wow pulse">Contact Us</a>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="contact-us">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col heading-desc wow fadeIn">
          <h1>Contact Us</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <form>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" placeholder="Message"></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <div style="width: 100%; margin-bottom: -6px;"><iframe  width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.114729652493!2d-79.67343108470382!3d43.62497097912222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b40a1b8a534ad%3A0xf5d067cf8b6538ad!2s120+Traders+Blvd+E+%23209%2C+Mississauga%2C+ON+L4Z+3K7%2C+Canada!5e0!3m2!1sen!2sin!4v1535523590471"
      frameborder="0" style="border:0" allowfullscreen></iframe></div>
</section>