<section class="banner page-banner">
  <div class="container text-center">
    <div class="wow fadeInDown">
      <h1 class="text-white">About Us</h1>
      <div class="breadcrumbs text-white">
        Home / <span class="current">About Us</span>
      </div>
    </div>
  </div>
</section>

<section class="about-desc">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="border-image-wrap wow fadeInLeft">
          <div class="border-image-wrap-border"></div>
          <img src="assets/about-us/meeting.jpeg" alt="" class="img-responsive">
        </div>
      </div>
      <div class="col-md-6">
        <div class="wow fadeInRight">
          <h1>Our goal then and now is to provide best investment plan.</h1>
          <!-- <p>We feel very proud and elated to be one of the well known insurance companies of Canada with a huge customer base comprising the individuals, corporates and SMEs.</p> -->
          <p> Secure your future by joining hands with us as we deliver the best of customer experiences in respect of all
            your insurance needs . </p>
          <p> To get the support when needed , it is required to work with the company you can depend on . </p>
          <p>Hence, you are at right place and can count on us to be a reliable , dependable, strong and trustworthy partner
            for all your unique insurance needs.</p>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="banner experience">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-white">
        <div class="wow myFadeInLeft dlexsm-1">
          <h3>More Than</h3>
          <h1 class="text-white">25 years of experience</h1>
          <p class="text-white">We carry the legacy of more than 25 years of experience at your service . Our drive towards
            growth and continuous improvement in the field of insurance has won us many kudos.</p>
          <p class="text-white">It’s our exemplary performance that speaks much about us…</p>
          <button class="btn btn-primary" routerLink="/services">Our services</button>
        </div>
      </div>
      <div class="col-md-6 text-white pt-4">
        <ngb-progressbar class="wow myFadeInRight dlexsm-1" type="info" [value]="95" [striped]="true" [animated]="true"><span
            class="progress-heading">Financial Super Visa
          </span><i class="progress-number">95%</i></ngb-progressbar>
        <ngb-progressbar class="wow myFadeInRight dlexsm-2" type="info" [value]="80" [striped]="true" [animated]="true"><span
            class="progress-heading">Business Commercial
          </span><i class="progress-number">80%</i></ngb-progressbar>
        <ngb-progressbar class="wow myFadeInRight dlexsm-3" type="info" [value]="90" [striped]="true" [animated]="true"><span
            class="progress-heading">Customer Life Insurance
          </span><i class="progress-number">90%</i></ngb-progressbar>
        <ngb-progressbar class="wow myFadeInRight dlexsm-4" type="info" [value]="85" [striped]="true" [animated]="true"><span
            class="progress-heading">
            Customer Satisfaction
          </span><i class="progress-number">85%</i></ngb-progressbar>
      </div>
    </div>
  </div>
</section>

<!-- <section class="our-team container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Our Team</h1>
      <p class="team-desc">There are many variations of passages of Lorem Ipsum available, but the majority have suffered
        alteration in some form or randomised even slightly believable.</p>
    </div>
    SLIDER
    <div style="display: inline-block; margin: auto;">
      <div ng2-carouselamos [width]="1140" [items]="items" [$item]="item" [$prev]="prev" [$next]="next"></div>

      <ng-template #prev>
        Left.png
      </ng-template>

      <ng-template #next>
        Next.png
      </ng-template>

      <ng-template let-item let-i="index" #item>
        <div style="min-width: 200px" class="col-md-4 text-center">
          <div class="card">
            <h1>{{ item.name }}</h1>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</section> -->

<section class="logos container">
  <div class="row text-center">
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-1" src="assets/about-us/logos/logo1.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-2" src="assets/about-us/logos/logo2.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-3" src="assets/about-us/logos/logo3.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-4" src="assets/about-us/logos/logo4.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-5" src="assets/about-us/logos/logo5.png" alt="">
    </div>
    <div class="col-md-2">
      <img class="wow fadeInUp dlexsm-6" src="assets/about-us/logos/logo1.png" alt="">
    </div>
  </div>
</section>

<!-- <section class="banner video">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
        <a class="mfp-iframe video-play-button" href="https://www.youtube.com/watch?v=zlRl8sJU_4I" target="_blank">

        </a>
        <h1 class="text-white">Watch Video For More About Us</h1>
        <p class="text-white">Lorem ipsum dolor seat ameat dui too consecteture more be elit. We are a creative design agency and we want to
          worwitnew person and new compan.</p>
      </div>
    </div>
  </div>
</section> -->