<section class="banner page-banner">
  <div class="container text-center ">
    <div class="wow fadeInDown">
      <h1 class="text-white">Contact</h1>
      <div class="breadcrumbs text-white">
        Home / <span class="current">Contact</span>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-12 wow myFadeInUp dl-1">
        <div class="col heading-desc">
          <h1>Get In Touch</h1>
          <ul class="title-shape text-center">
            <li></li>
            <li></li>
            <li></li>
          </ul>
          <p>Drop us a line, or give us a heads up if you're interested in visiting us.</p>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-8 offset-md-2 col-sm-12">
        <form class="wow myFadeInUp dl-1">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Name">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Email">
              </div>
            </div>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Subject">
          </div>
          <div class="form-group">
            <textarea type="text" class="form-control" placeholder="Message"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <div style="width: 100%"><iframe style="margin-bottom: -6px;" width="100%" height="450" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2888.114729652493!2d-79.67343108470382!3d43.62497097912222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882b40a1b8a534ad%3A0xf5d067cf8b6538ad!2s120+Traders+Blvd+E+%23209%2C+Mississauga%2C+ON+L4Z+3K7%2C+Canada!5e0!3m2!1sen!2sin!4v1535523590471"
      frameborder="0" style="border:0" allowfullscreen></iframe></div>
</section>