<section class="banner page-banner">
  <div class="container text-center">
    <h1 class="text-white">Our Services</h1>
    <div class="breadcrumbs text-white">
      Home / <span class="current">Services</span>
    </div>
  </div>
</section>

<section class="text-dark services light-grey-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Market Analysis</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Financial advice</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Business Promotions</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Business Investment</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Talanted Consultants</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-service-box service-box-style-1">
          <div class="service-content-wrapper">
            <div class="service-box-icon">
              <i class="flaticon-analytics"></i>
            </div>
            <div class="service-box-content">
              <a href="#"><h4>Market Analysis</h4></a>
              <p>There are many variations of passages of that Lorem Ipsum available but the majority have suffered alteration
                in bypassage.</p>
              <a class="read-more-btn text-btn" href="#">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="dark customers">
  <div class="container">
    <div class="row">
      <div class="col heading-desc light">
        <h1>Customers Says About Service</h1>
        <ul class="title-shape text-center">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
          form or randomised even slightly believable.</p>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="card">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-1"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-2"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="testimonial-quote">
            <i class="fa fa-quote-right" aria-hidden="true"></i>
          </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form or randomised even slightly believable.</p>
          <div class="author-details">
            <div class="author-image author-image-3"></div>
            <h4>Clara Anderson</h4>
            <p class="author-position">Ceo Of Idea Company</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="logos container">
  <div class="row mb-5">
    <div class="col heading-desc">
      <h1>Our Clients</h1>
      <ul class="title-shape text-center">
        <li></li>
        <li></li>
        <li></li>
      </ul>
      <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some
        form or randomised even slightly believable.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo1.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo2.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo3.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo4.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo5.png" alt="">
    </div>
    <div class="col-md-2">
      <img src="assets/about-us/logos/logo1.png" alt="">
    </div>
  </div>
</section>