<section class="banner page-banner">
  <div class="container text-center">
    <div class="wow fadeInDown">
      <h1 class="text-white">Blog</h1>
      <div class="breadcrumbs text-white">
        Home / <span class="current">Blog</span>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-1">
          <div class="post-thumb-wrapper post-thumb-1">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>Canadian insurance companies at the forefront of AI adoption</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>30 Aug 2018
            </div>
            Brokers play an important role in the increasingly widespread use of technology ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-2">
          <div class="post-thumb-wrapper post-thumb-2">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>QBE North America introduces head of distribution</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>31 Aug 2018
            </div>
            Industry veteran will additionally take role as company’s head of major trading partner ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-3">
          <div class="post-thumb-wrapper post-thumb-3">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>The insurance needs of the Toronto International Film Festival</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>29 Aug 2018
            </div>
            It requires sizeable insurance and risk management efforts ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-1">
          <div class="post-thumb-wrapper post-thumb-3">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>The insurance needs of the Toronto International Film Festival</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>29 Aug 2018
            </div>
            It requires sizeable insurance and risk management efforts ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-2">
          <div class="post-thumb-wrapper post-thumb-2">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>QBE North America introduces head of distribution</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>31 Aug 2018
            </div>
            Industry veteran will additionally take role as company’s head of major trading partner ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="single-blog-post wow myFadeInUp dl-3">
          <div class="post-thumb-wrapper post-thumb-1">
          </div>
          <div class="post-content">
            <a href="#">
              <h4>Canadian insurance companies at the forefront of AI adoption</h4>
            </a>
            <div class="post-header-meta">
              <i class="fa fa-calendar"></i>30 Aug 2018
            </div>
            Brokers play an important role in the increasingly widespread use of technology ...
            <div>
              <a href="#" class="read-more-btn">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col text-center">
        <button class="btn btn-primary">
          Read more posts
        </button>
      </div>
    </div>
  </div>
</section>