<section class="banner page-banner">
  <div class="container text-center">
    <h1 class="text-white">Blog title Lorem Ipsum</h1>
    <div class="breadcrumbs text-white">
      Home / Blog / <span class="current">Blog title Lorem Ipsum</span>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="offset-md-2"></div>
      <div class="col-md-8">
        <img src="assets/blog/blog-1.jpg" class="img-responsive" alt="">
        <div class="post-header-meta"><i class="fa fa-calendar"></i>08, July , 2018 </div>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration in some
          form by injected humour or the an randomised words which don’t look even evry is and slightly believable. If you
          are going to use a passage of Lorem Ipsum you need to be sure there isn’t is the anything aembarrassing hidden
          in the middle of text.Ipsum available but the majority have that suffered is alteration in some form by injected
          humour or randomised words.
        </p>
        <p class="mark-line">
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration in some
          form by injected humour or the an randomised words which don’t look even evry is and slightly believable. If you
          are going to use a passage of Lorem Ipsum you need to be sure there isn’t is the anything aembarrassing hidden
          in the middle of text.Ipsum available but the majority have that suffered is alteration in some form by injected
          humour or randomised words.
        </p>
        <p>
          There are many variations of passages of Lorem Ipsum available, but the majority have suffered that the alteration in some
          form by injected humour or the an randomised words which don’t look even evry is and slightly believable. If you
          are going to use a passage of Lorem Ipsum you need to be sure there isn’t is the anything aembarrassing hidden
          in the middle of text.Ipsum available but the majority have that suffered is alteration in some form by injected
          humour or randomised words.
        </p>
        <div class="blog-nav clearfix">
          <button class="btn btn-outline-primary float-left">Prev Post</button>
          <button class="btn btn-primary float-right">Next Post</button>
        </div>
      </div>
    </div>
  </div>
</section>