<section class="banner page-banner">
  <div class="container text-center">
    <h1 class="text-white">Blog title Lorem Ipsum</h1>
    <div class="breadcrumbs text-white">
      Home / Blog / <span class="current">Blog title Lorem Ipsum</span>
    </div>
  </div>
</section>

<section class="content">
  <div class="container">
    <div class="row">
      <div class="offset-md-2"></div>
      <div class="col-md-8">
        <img src="assets/blog/blog-1.jpeg" class="img-responsive" alt="">
        <div class="post-header-meta"><i class="fa fa-calendar"></i>08, July , 2018 </div>
        <p>
          Specialist insurer QBE North America has announced the appointment of Dennis Kearns as head of distribution and major trading partner engagement. In his new role, Kearns will be responsible for offering a strategic voice on distribution, overseeing sales operations and driving engagement in North America with QBE’s top global trading partners.
        </p>
        <p class="mark-line">
          We are very excited to have Dennis assume this important role within QBE,” said Mark Cantin, president of field operations for QBE North America. “His leadership will be critical to bringing the benefits of our integrated specialist insurer strategy to life for our customers by further improving easy access to our end-to-end risk management solutions. The breadth of Dennis’s experience, which includes roles in underwriting, claims, legal and underwriting counsel from both a carrier and broker perspective, makes him particularly well suited for this position.
        </p>
        <p>
          Kearns has more than 20 years of experience in the insurance industry. Most recently, he served as senior vice president of transactional liability and financial institutions underwriting leader for QBE North America’s specialty business. He joined the company in 2013 in a product development role, and was responsible for engineering the launch of almost 30 specialty insurance products.
        </p>
        <p>Prior to coming to QBE, Kearns was a managing director and manager of the claims advocacy group for Marsh. He has also served as a senior attorney in Chubb’s claims, general counsel and underwriting departments within its property and casualty specialty lines business units.</p>
        <div class="blog-nav clearfix">
          <button class="btn btn-outline-primary float-left">Prev Post</button>
          <button class="btn btn-primary float-right">Next Post</button>
        </div>
      </div>
    </div>
  </div>
</section>